@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .main-icon{
        @apply relative flex items-center justify-center
        transition-all duration-300 ease-linear cursor-pointer;
    }
    .icon-colors{
        @apply bg-gray-800 text-purple-500
        hover:bg-purple-600 hover:text-white;
    }
    .menu-colors{
        @apply bg-gray-800 text-purple-500;
    }
    .checkbox-colors{
        @apply bg-gray-800 text-purple-500
        border-2 border-purple-500 ;
    }
    .logo-icon{
        @apply main-icon icon-colors
            h-12 w-12 mt-2 mb-2 mx-auto shadow-lg;
    }
    .sidebar-icon{
        @apply main-icon icon-colors
            h-12 w-12 mt-2 mb-2 mx-auto shadow-lg;
    }

    .dropdown-button{ 
        @apply flex items-center px-1
            text-gray-800 bg-purple-500
            hover:bg-gray-800 hover:text-purple-500
            h-8 min-w-8 uppercase font-bold
            rounded-full 
            rounded-r-none
            border-transparent border-2 hover:border-purple-500;
    }
    .search-input{
        @apply bg-gray-800 text-purple-500
        border-2 border-purple-500
        h-8 min-w-8 font-bold;
    }
    .search-button{ 
        @apply dropdown-button
            rounded-full
            rounded-l-none;
    }
    .dropdown-list{
        @apply absolute -m-0 ml-4 flex 
            max-w-5
            md:max-w-full
            rounded-lg rounded-t-none
            overflow-hidden 
            bg-gray-900 border-2 border-purple-500;
    }
    .dropdown-item{
        @apply flex icon-colors w-36 px-2
        flex-col justify-center
        size-8;
    }

    .theme-button-icon{ 
        @apply main-icon
            text-gray-800 bg-purple-500
            hover:bg-gray-800 hover:text-purple-500
            h-8 min-w-8 uppercase font-bold
             rounded-full
            border-transparent border-2 hover:border-purple-500;
    }
    .menu-icon{
        @apply main-icon icon-colors h-12 w-12;
    }
    .sidebar-filters{
        @apply main-icon icon-colors justify-start;
    }
    .check-box{
        @apply checkbox-colors rounded-lg
        m-1
        w-5 h-5;
    }

}